:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
#top{
    background-color: #d9e7ff;
    width: 60%;
    margin: auto;
    box-shadow: 7px 7px 7px grey;
}

#top-text{
    padding: 10px;
    text-align: center;
}

body{
    background-color: #d9ffe0;
}

#game{
    width:75%;
    margin:auto;
    text-align: center;
}

.winner{
    color:#306346;
}
